@import '../../styles/shared/colors';
@import '../../styles/shared/media';

.session-code-form {
  max-width: 14em;

  display: flex;
  flex-direction: column;

  padding: 0.5em;

  font-size: 1.3em;
  font-weight: bold;

  color: $color-font-white;

  .title {
    text-align: center;
    font-size: 1.5em;
  }

  hr {
    height: 0.2em;
    width: 100%;
    border: none;
    background-color: $color-font-white;
  }

  .description {
    margin-bottom: 0.5em;
    text-align: left;
  }

  .session-code-input {
    margin-bottom: 0.5em;
  }

  @include media-down(lg) {
    font-size: 1em;
  }

  @include media-down(md) {
    width: 100%;
  }
}
