@import '../../styles/shared/colors';
@import '../../styles/shared/media';

.session-qr-code {
  padding: 0.5em;
  max-width: calc(256px + 1em);

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: 1.3em;
  font-weight: bold;

  color: $color-font-black;

  .qr-code {
    margin-bottom: 0.5em;
  }

  .raw-code {
    cursor: pointer;

    &:hover {
      color: lighten($color-font-black, 20);
    }

    &:active {
      color: lighten($color-font-black, 30);
    }
  }

  @include media-down(xl) {
    font-size: 1em;

    .raw-code {
      text-align: center;
    }
  }
}
